$color-blue: #5474fd;
$color-white: #ffffff;
$color-brown: #333333;

header {
  position: relative;
  background-image: url(../images/background-header.svg);
  height: 821px;
  color: $color-white;
  font-family: "Josefin Sans", sans-serif;

  h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 11px;
  }

  h5 {
    font-size: 22px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.82px;
  }

  .flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .brand {
      text-align: center;
    }
  }
}

.search {
  width: 60%;

  .search-bar {
    background-color: $color-white;
    display: flex;
    margin: 0 auto;

    input {
      font-size: 14px;
      padding: 10px;
      border: none;
      flex-grow: 1;
    }

    button {
      background-color: $color-blue;
      color: $color-white;
      padding: 10px;
      border: none;
      text-transform: uppercase;
    }
  }
}

.scroll-down {
  width: 108px;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.8px;

  a {
    text-decoration: none;
    color: $color-white;
  }
}

.menu {
  position: absolute;
  bottom: 0;
  background-color: $color-blue;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .brand {
    font-weight: bold;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 20px;
    a {
      text-decoration: none;
      color: $color-white;
    }
  }

  nav ul {
    display: flex;
    justify-content: space-between;

    li {
      text-transform: uppercase;
      padding: 20px;
    }

    li:hover {
      color: purple;
    }
  }
}

.brand {
}

.why-choose-us {
  display: flex;
  justify-content: space-evenly;
  background-image: url(../images/backgroundwhy.svg);
  height: 685px;

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  h1 {
    font-size: 36px;
    line-height: 26px;

    font-family: "Aleo", serif;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    font-family: "Josefin Sans", sans-serif;
  }

  button {
    text-transform: uppercase;
    width: 228px;
    height: 63px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: $color-blue;
    font-family: "Aleo", serif;
    color: $color-white;
    text-decoration: none;
    border: none;
  }

  .images {
    display: flex;

    .image-1 {
      align-self: center;
      margin-left: 20px;
      margin-bottom: 50px;
    }

    .image-2 {
      align-self: flex-end;
      margin-right: 50px;
      margin-bottom: 10px;
    }
  }
}

.how-it-works {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  height: 340px;
  background-color: $color-brown;

  .flex {
    display: flex;
  }

  .img-book {
    display: flex;
    font-style: #00a2ff;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    h5 {
      font-family: "Aleo", serif;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  .img-check {
    display: flex;
    font-style: #ff6363;

    h5 {
      font-size: 36px;
      line-height: 26px;
    }
  }

  .img-search {
    font-style: #5474fd;

    h5 {
      font-size: 36px;
      line-height: 26px;
    }
  }
}

.accomodation {
  display: flex;

  .group-1 {
    height: 700px;

    .group-2 {
      height: 700px;
    }
  }
}

.testimonials {
  display: flex;

  .background-pic {
    height: 731px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 271px;
  background-color: $color-brown;
  font-family: "Josefin Sans", sans-serif;

  h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 3.36px;
    text-transform: uppercase;
    color: white;
  }

  h5 {
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.6px;
    color: white;
  }
}
